<ion-view view-title="About us" class="about-us">
  <ion-content overflow-scroll="false" >
      <ion-slide-box on-slide-changed="slideChanged(index)">
	  <!-- first Slide -->
          <ion-slide>
            <div class="heading"> <h4> Establishment</h4></div>
           
             <div class="content">
    			 <p>
				 Manthan is established in 2003, to fill the gap in art education.
				</p>
				<p>
					It is the only college that is open to art and non-art background and trains to become hot shot Graphic Designer or Creative Director.
				</p>
				<p>
					It’s a unique advertising school like the ones in UK, USA, France teaching ESSENTIAL CREATIVE THINKING, making the student JOB READY and offers him the RIGHT PLACEMENT to make a shining career in the ad world.
				</p>
				<p>
					The result is Manthan students are working as Visualizers, Art Directors, Photographers and Copywriters in top ad agencies like O&M, Saatchi & Saatchi, McCann Erickson, Mudra, Lowe, etc., in India and abroad.
									</p>
				
			</div>
          </ion-slide>
		  
		 <!-- Second Slide--> 
          <ion-slide>
          <div class="heading"> <h4> The Founder's word</h4></div>
            
              <div class="content">
             <p>HI  FUTURE STARS,
               </p><p>
				
				I will tell you a secret- how to make a great career in advertising? You don’t need an art background necessarily or a degree to be creative- but you need to be  a crazy thinker… and have a burning desire!
                </p><p>  
				Look at art schools around – mostly the scene is big show, high fees, old syllabus, teachers with no gyan of modern ad world, no sharing with students- just exams and marks – and finally nothing to get the job.
				</p><p>
				Then the students keep bungling in the dark- no gyan, no jobs… only frustration !
				</p><p>
				Ad world asks for consistent creative campaigns overnight. The rewards are great for the creative people in the ad industry, the growth is fast. So CREATIVE SKILL is needed in them for a great job, and not the exam, certificate, marks!
				</p><p>
				Creativity is needed in everything – management, finance, photography, music, writing, films, architecture, interior design, fashion, cookery and in advertising,
				</p><p>
				Sensing this I established ‘MANTHAN’ in 2003, a unique art school like the ones in UK, USA, France that kindles the fire of creative thinking for advertising.
				</p><p>
				At  Manthan we understand the artist’ mind. We help students to think, practice to convert life experiences into ideas that sell the brand- because we know even a crow sitting on the tree can give a creative idea. We teach them the out-of-the-box approach for consistent creative fire, courage to experiment and presentation skill.
				</p><p>
				With us everyone is the other’s teacher, the emphasis is on interaction, exchanging ideas, experiences- this is the true meaning of MANTHAN- the churning of the minds for creative wisdom. He is made to participate in ad competitions, wins awards. There is no exam, we gauge his true development instead in his work. 
               </p><p>
				Finally we develop his personality, portfolio and place him in the right ad agency in the world. When he wins that job , for us his education is complete. The creative process continues in him. Our ex student achievers and awards is the satisfying proof of this.
				</p><p>							
				Manthan is the mission and not just an institute-it continues to excel, reach new heights…
				</p><p>
				Meet me, open your mind and dreams to me! I am there to make you more mad…creative and successful!
					</p><p>
				Prof Shashikant Gavali</p>
            </div>
          </ion-slide>
		  <!--Third Slide-->
		  
          <ion-slide>
            <div class="heading"> <h4> Why Us</h4></div>
           <div class="content">
            <p>Manthan is open to art and non art background students, anyone who is the dreamer, mad and wanting to work hard to go creative and wants to make a career in advertising- this is the only qualification.
            </p><p>
            Simply because Manthan knows only the dreamers and crazy people like Bill gates created Microsoft co, Spielberg made Jurassic Park film , Picasso painted cubism, a sandwich maker girl Kate Winslet became the lead actress of ‘Titanic’ and David Ogilvy created a global ad agency.
           </p>
		    <p>Creativity is the power to be on the top- in every domain from finance to fashion, from cinema to advertising.
			</p>
			<p>
			Manthan has the research based syllabus to bring out the creative fire in students. It tells them the ways of seeing the world with a creative eye. It trains them to turn experiences of life, into creative ideas that make great advertising. The student grows the process further.
			</p>
		   </div>
          </ion-slide>
		  
		  <!-- fourth Slide-->
		          <ion-slide>
            <div class="heading"> <h4> Awards</h4></div>
           <div class="content">
		    <p>
            Every year the students are encouraged  to participate in various ad competitions. They have shined every year with their excellent work. So far Manthan has won a total of 22 awards in State art exhibition. Awards give them a great motivation and weights to their portfolio.They also realize where do they stand and further where to go.
            </p>
		   </div>
          </ion-slide>
        </ion-slide-box>
    


  </ion-content>
</ion-view>
