<!--<ion-view view-title=" Sign-In" name="login-view">
  <ion-content class="padding login"  >
      
       <h2 align="center">Student</h2>
	  <h6 align="center">Login to your account</h6>
   <div class="list"> 
 <form name="login" ng-controller="LoginCtrl" ng-submit="login.$valid && submit(data);" novalidate >
     
          <label class="item item-input item-floating-label"> 
		  <span class="input-label">Username</span>
		       <input type="text" placeholder="Username" name="username" ng-model="data.username" required>
			   		 <span class="error" ng-show="(login.username.$dirty || submitted ) && login.username.$error.required">Username is required</span>

	      </label>
          <label class="item item-input item-floating-label">
		  <span class="input-label">Password</span>
              <input type="password"  name="password" placeholder="Password" ng-model="data.password" required>
               <span class="error" ng-show="( login.password.$dirty || submitted  ) && login.password.$error.required">Password is required </span>
          </label> 
		 <input type="hidden"  name="gcmReg_id"  ng-model="data.gcmReg_id" >
         <button type="submit" class="button button-block button-positive" ng-disabled="!login.$valid"  >Login</button> 
	</form>
	</div>
 
	  
  </ion-content>
</ion-view>-->
<ion-view class="login" hide-nav-bar="true">
  <ion-content overflow-scroll="false">
  
  <div class="logo"><img src="img/icon/logo.png" style="width:100%"> </div>
    <form name="login" ng-controller="LoginCtrl" class="login-form" ng-submit="login.$valid && submit(data);" novalidate >
	 <div class="namedLogo"> <img src="img/icon/namedLogo1.png" style="width:100%"></div>
	 <div class="role"> <h4>Student</h4></div>
      <div class="list">
        <label class="item item-input">
           <input type="text" placeholder="Username" name="username" ng-model="data.username" required>
			   		

        </label>
		 <span class="error" ng-show="(login.username.$dirty || submitted ) && login.username.$error.required">Username is required</span>
        <label class="item item-input">
          <!--<span class="input-label">Password</span>-->
         <input type="password"  name="password" placeholder="Password" ng-model="data.password" required>
              
        </label>
		 <span class="error" ng-show="( login.password.$dirty || submitted  ) && login.password.$error.required">Password is required </span>
        <label class="item">
         <input type="hidden"  name="gcmReg_id"  ng-model="data.gcmReg_id" >
         <button type="submit" class="button button-block login-btn" ng-disabled="!login.$valid"  >Login</button> 
        </label>
		
		<a class="button button-clear button-assertive">Forgot Password ???</a>
      </div>
    </form>
  </ion-content>
</ion-view>
